---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro"
import {DISCORD_INVITE_LINK} from "../constants";
const title = "Frostbreak Discord Server";
const description = "Join our discord server";
const tagLine = "Connect with us on Discord";
---
<BaseLayout title={{text: title}} description={description}>
    <Hero title={title} tagline={tagLine}>
        <p>Redirecting to our discord server.</p>
        <p>Click <a href={DISCORD_INVITE_LINK}>here</a> if you are not redirected.</p>
        <noscript>
            <p>
              Your browser does not support JavaScript or you have disabled JavaScript.
              Please click the link above to join our Discord server.
            </p>
        </noscript>
    </Hero>
</BaseLayout>

<script is:inline define:vars={{DISCORD_INVITE_LINK}}>
  window.location.href = `${DISCORD_INVITE_LINK}`;
</script>