---
import '../styles/global.css';
import {BASE_URL} from "../constants";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
  author?: string | undefined;
  keywords?: string[] | undefined;
  image?: string | undefined;
}

const {
	title = 'Frostbreak',
	description = 'A home for Buffalo\'s queer community.',
  author = 'Frostbreak',
  keywords = ['Buffalo', 'LGBTQ', 'queer', 'community', 'Frostbreak', 'discord', 'New York', 'Rochester'],
  image = 'assets/frostbreak-logo-512x512.png'
} = Astro.props;

const { PR_PREVIEW_PREFIX } = process.env;

const base = PR_PREVIEW_PREFIX?.length
  ?  `https://jmuzina.github.io/frostbreak.org/${PR_PREVIEW_PREFIX}/`
  : "/";

console.log({ base });
---
<head title={title}>
<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="generator" content={Astro.generator} />
<meta name="author" content={author} />
<meta name="keywords" content={keywords.join(", ")} />
<meta name="image" property="og:image" content={`${BASE_URL}/${image}`} />
<base href={base} />

<title>{title}</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<!-- General favicon -->
<link rel="icon" href="assets/favicons/favicon.ico" type="image/x-icon">
<link rel="icon" href="assets/favicons/favicon-16x16.png" sizes="16x16">
<link rel="icon" href="assets/favicons/favicon-32x32.png" sizes="32x32">

<!-- Apple Touch Icon -->
<link rel="apple-touch-icon" href="assets/favicons/apple-touch-icon.png">

<!-- Android Chrome icons -->
<link rel="icon" href="assets/favicons/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" href="assets/favicons/android-chrome-512x512.png" sizes="512x512">

<!-- Web Manifest -->
<link rel="manifest" href="assets/favicons/site.webmanifest">

<meta name="theme-color" content="#ffffff">

</head>