---
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.tsx';
import Footer from '../components/Footer.astro';
import {GITHUB_REPO_URL} from "../constants";

interface Props {
    title?: string | undefined;
    description?: string | undefined;
}

const {title, description} = Astro.props;
const { BASE_URL } = import.meta.env;
---

<html lang="en">
<MainHead title={title} description={description}/>
<body>
<a href="#main-content" class="skip-nav">Skip to main content</a>
<Nav client:only="react" textLinks={[
    {label: 'Home', href: BASE_URL},
    {label: 'Calendar', href: `${BASE_URL}calendar`},
    {label: 'Experience', href: 'https://nhx.frostbreak.org', target: '_blank'},
]} iconLinks={[
    {label: 'Discord', href: `${BASE_URL}discord`, iconName: 'discord-logo'},
    {label: 'GitHub', href: GITHUB_REPO_URL, iconName: "github-logo"},
]}/>

<main id="main-content" class="main-content">
    {title && <h1 class="visually-hidden">{title}</h1>}
    {description && <p class="visually-hidden">{description}</p>}
    <slot/>
</main>

<section>
    <Footer/>
</section>

<script>
    // Add “loaded” class once the document has completely loaded.
    addEventListener('load', () => document.documentElement.classList.add('loaded'));
</script>
</body>
</html>
