---
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.tsx';
import Footer from '../components/Footer.astro';
import { ToastContainer } from 'react-toastify';
const { PUBLIC_GITHUB_REPO_URL } = import.meta.env;

interface Props {
    title: {
        hidden?: boolean;
        text: string;
    }
    description?: string | undefined;
}
const {title, description} = Astro.props;
const { BASE_URL } = import.meta.env;
---

<html lang="en">
<MainHead title={title.text} description={description}/>
<body>
<a href="#main-content" class="skip-nav">Skip to main content</a>
<Nav client:only="react" textLinks={[
    {label: 'About', href: `${BASE_URL}about`},
    {label: 'Calendar', href: `${BASE_URL}calendar`},
    {label: 'Experience', href: 'https://nhx.frostbreak.org', target: '_blank'},
    {label: 'Contact', href: `${BASE_URL}contact`},
]} iconLinks={[
    {label: 'Discord', href: `${BASE_URL}discord`, iconName: 'discord-logo'},
    {label: 'GitHub', href: PUBLIC_GITHUB_REPO_URL, iconName: "github-logo"},
]}/>
<ToastContainer client:only="react"/>
<main id="main-content" class="main-content">
      <section class={`section u-no-border--bottom ${title.hidden ? ' u-visually-hidden' : ''}`}>
          <h1>{title.text}</h1>
      </section>
    <slot/>
</main>

<Footer/>

<script>
    // Add "loaded" class once the document has completely loaded.
    addEventListener('load', () => document.documentElement.classList.add('loaded'));
</script>
</body>
</html>
